* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
  text-align: center;
}

tr, td {
  border: 1px solid black;
}

td {
  width: 55px;
  height: 55px;
}

.header {
  text-align: left;
  font-size: 45px;
}

.torpedo {
  font-size: 30px;
  text-align: left;
  margin-right: 5%;
}

.ships {
  margin-left: 5%;
    font-size: 30px;
    text-align: right;
}

.miss {
  background-color: red;
}
